.event-get h3 {
  margin: auto;
  text-align: center;
  font-size: 25px;
  /* font-weight: 900; */
  color: rgba(8, 122, 52, 0.993);
  margin: 50px auto;
}

.event-box {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.subbox-right {
  background-color: gray;
}
